<div class="row">
  <div class="col-sm-7 col-md-7 text-block-form">

    <!-- blue bar on the left -->
    <div class="col-sm-1 col-md-1">
    </div>
    <!-- blue bar on the left -->

    <div class="col-sm-11 col-md-11 content-form">
      <div class="main-logo-small main-logo-blue-bg">
        <%= svg 'tq-diamond.svg' %>
      </div>
      <br>
      <h2 class="page-title page-title-blue">Create New Admin</h2>


        <%= form_for(resource, as: resource_name, url: admin_registration_path(resource_name)) do |f| %>
        <% if devise_error_messages! != "" %>
        <h3 class="text-center">
          <%= devise_error_messages! %>
        </h3>
      </div>
    <% end %>

    <div class="form-input">
      <p class="text-form text-placeholder">Email *</p>
      <%= f.email_field :email, :class => 'form-control' %>
    </div>

    <div class="form-input">
      <p class="text-form text-placeholder">Password *</p>
      <%= f.password_field :password, :class => 'form-control',  autocomplete: "off" %>
    </div>

    <!-- Button -->
    <div class="row-buttons">
      <div class="col-sm-12 controls">
        <button type="submit" href="#" class="btn btn-create">SIGN UP</button>
      </div>
    </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="btn-back">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <%= link_to "Oh wait.. I want to go back", new_admin_session_path, class: "btn-back text-form" %>
    </div>
  </div>
</div>
<div class="col-sm-5 col-md-5 image-home image-welcome">
  <%= image_tag("https://res.cloudinary.com/dq7saz15g/image/upload/v1477645929/blocks_efs2bt.png") %>
  <!-- blocks.png -->
</div>
