<% @bookings.each_with_index do |booking, i| %>

        <tr>
            <td><p class="text-form"><%= i + 1 %></p></td>
            <td><p class="text-form"><%= booking.created_at.strftime("%Y-%m-%d") %></p></td>
            <td><p class="text-form"><%= booking.user.full_name %><br/>
                (Guest)</p></p></td>
            <td><p><span class="label <%= future? booking.checkin  %> <%= past? booking.checkin  %>"> <%= booking.checkin.strftime("%d/%m/%Y") %></span></p></td>
            <td><p class="text-form"><%= user_company booking.user %></p></td>
            <td><p class="text-form"><%= user_email booking.user %></p></td>
            <td class="col-md-2">
              <p><%= check_box_tag :confirmed, admin(booking) , booking.confirmed, id: booking.id ,  class: "confirmed"  %></p>
            </td>
            <td class="col-md-2"><p>
                <%= link_to admin_booking_path(@admin.id, booking.id), :method => 'delete', class: "btn-delete" do %>
                  <i class="glyphicon glyphicon-remove-circle"></i>
               <% end %>
            </p></td>
        </tr>
<% end %>
