<div class="page-wrapper">
  <div class="new-booking">
    <div class="row">
      <div class="col-md-5 text-center">
        <a href="#" class="btn btn-danger pull-right btn-exit" id="abort-booking-creation">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <div class="box">
          <h2 class="page-title page-title-blue page-title-smaller">New Booking</h2>

          <%= form_for :booking, url: admin_bookings_path, html: {id: "new-booking-form", autocomplete: "off"} do |f| %>
          <div class="box-content">
            <div class="form-no-margin">
              <%= form_for :user do |u| %>

              <div class="form-input">
                <p class="text-form text-placeholder">First Name *</p>
                <%= u.text_field :first_name, class: "tag-title form-control" %>
              </div>
              <div class="form-input">
                <p class="text-form text-placeholder">Last Name *</p>
                <%= u.text_field :last_name, class: "tag-title form-control" %>
              </div>
              <div class="form-input">
                <p class="text-form text-placeholder">Company</p>
                <%= u.text_field :company, class: "tag-title form-control" %>
              </div>
              <div class="form-input">
                <p class="text-form text-placeholder">Email</p>
                <%= u.email_field :email, class: "tag-title form-control" %>
              </div>
              <% end %>
            </div>
            <h2 class="page-title page-title-blue page-title-smaller page-title-no-margin">Select Date</h2>
            <div class="date-picker" data-date="2014-02-03">
              <div class="date-container">
                <h3 class="date date-text">
                    <span data-toggle="datepicker" data-method="subtract" data-type="d" class="fa fa-angle-left"></span>
                    <span class="text date-text">17th</span>
                    <span data-toggle="datepicker" data-method="add" data-type="d" class="fa fa-angle-right"></span>
                </h3>
                <h3 class="month date-text">
                    <span data-toggle="datepicker" data-method="subtract" data-type="M" class="fa fa-angle-left"></span>
                    <span class="text date-text">December</span>
                    <span data-toggle="datepicker" data-method="add" data-type="M" class="fa fa-angle-right"></span>
                </h3>
                <h3 class="year date-text">
                    <span data-toggle="datepicker" data-method="subtract" data-type="y" class="fa fa-angle-left"></span>
                    <span class="text date-text">2014</span>
                    <span data-toggle="datepicker" data-method="add" data-type="y" class="fa fa-angle-right"></span>
                </h3>
              </div>
            </div>
            <%= f.hidden_field :checkin,  id: "dateinput" %>
            <input type="submit" class="btn-smaller" id="create-new-booking" value="CREATE">
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
