<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Checkin Date</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Newsletter</Data></Cell>
      </Row>
      <% @bookings.each_with_index do |booking, index| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= index + 1 %></Data></Cell>
            <Cell><Data ss:Type="String"><%= booking.user.full_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= booking.checkin %></Data></Cell>
            <Cell><Data ss:Type="String"><%= booking.user.company %></Data></Cell>
            <Cell><Data ss:Type="String"><%= booking.user.email %></Data></Cell>
            <Cell><Data ss:Type="String"><%= booking.user.newsletter ? 'Yes' : 'No' %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
