<div class="header">
  <div class="image-logo">
    <%= link_to "/admin", id: "adminlink" do %>
    <%= svg 'tq-diamond.svg' %>
    <% end %>
  </div>
  <%= link_to "New Booking", "#", class: "btn btn-primary create pull-right", id: "new-booking" %>
  <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "btn btn-primary create pull-right" %>
</div>
<%= render 'table' %>
  <p>
    Download:
    <%= link_to "Excel", admin_bookings_path(@admin.id, format: "xls"), class: "btn btn-primary" %>
  </p>
<br>
<br>

<div class ="banner"> <h1> Analyticts </h1> </div>
<!-- check chartkick.com to see other possibilities of charts, graphics etc -->

<%= line_chart Booking.group_by_day(:checkin, format: "%b %d, %Y", library: {yAxis: {allowDecimals: false}}).count %>
<%= render 'new' %>
