
  <%= form_for @user,  html: { autocomplete: "off" } do |f| %>

      <div class="form-group">
        <%= f.text_field :first_name, placeholder: "First Name *", class: "form-control" %>
        <%= @user.errors[:first_name].join %>
      </div>

      <div class="form-group">
        <%= f.text_field :last_name, placeholder: "Last Name *", class: "form-control" %>
        <%= @user.errors[:last_name].join %>
      </div>

    <div class="form-group">
      <%= f.text_field :company, placeholder: "Company", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      <%= @user.errors[:newsletter].join %>
    </div>

    <div class="form-group form-checkbox">
      <label>
      <%= f.check_box :newsletter, class: "form-control checkbox-inline" %>
      Would you like to become a free community member of TQ?
      </label>
    </div>

    <div class="actions">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <%= link_to "Oh wait.. I've done this before", root_path, class: "btn-back btn btn-default" %>
      <%= f.submit (@user.new_record? ? "Create" : "Update"), class: "btn btn-default" %>
    </div>

  <% end %>
