<div class="content content-form">

  <%= form_for @user, remote: true do |f| %>

    <div class="form-name">
      <div class="form-group">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.text_field :company, placeholder: "Company", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
    </div>

    <div class="form-group form-checkbox">
      <%= f.check_box :newsletter, class: "form-control checkbox" %>
      <p>&emsp;Would you like to become a free community member of TQ?</p>
    </div>

    <div class="actions">
      <%= link_to "Oh wait.. I've done this before", root_path, class: "btn btn-default" %>
      <%= f.submit (@user.new_record? ? "Create" : "Update"), class: "btn btn-default" %>
    </div>

  <% end %>

</div>
