
  <%= form_for @user,  html: { autocomplete: "off" } do |f| %>

    <div class="form-full-name">
      <div class="form-input">
        <p class="text-form text-placeholder">First Name *</p>
        <%= f.text_field :first_name, class: "form-control" %>
        <div class="error-message">
          <%= @user.errors[:first_name].join %>
        </div>
      </div>

      <div class="form-input">
        <p class="text-form text-placeholder">Last Name *</p>
        <%= f.text_field :last_name, class: "form-control" %>
        <div class="error-message">
          <%= @user.errors[:last_name].join %>
        </div>
      </div>
    </div>

    <div class="form-input">
      <p class="text-form text-placeholder">Your Company</p>
      <%= f.text_field :company, class: "form-control" %>
    </div>

    <div class="form-input">
      <p class="text-form text-placeholder">Email Address</p>
      <%= f.email_field :email, class: "form-control" %>
      <div class="error-message">
        <%= @user.errors[:newsletter].join %>
      </div>
    </div>


    <div class="form-input">
      <p class="text-form text-bold">Would you like to receive updates from TQ?</p>
      <div class="form-option">
        <div class="form-option-input form-option-input--check">
          <input id="user_newsletter" name="user[newsletter]" type="checkbox" value="1">
          <label for="user_newsletter"></label>
        </div>
        <p class="text-form text-color"><label for="user_newsletter">&nbsp; Yes please!</label></p>
      </div>
    </div>

    <div class="row-buttons">
      <div class="btn-back">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <%= link_to "Oh wait.. I've done this before", search_users_path, class: "btn-back text-form" %>
      </div>
        <%= f.submit (@user.new_record? ? "CHECK IN" : "UPDATE"), class: "btn-create" %>
    </div>


  <% end %>
