
  <%= form_for @user,  html: { autocomplete: "off" } do |f| %>

    <div class="form-full-name">
      <div class="form-input">
        <p class="text-form text-placeholder">First Name *</p>
        <%= f.text_field :first_name, class: "form-control" %>
        <div class="error-message">
          <%= @user.errors[:first_name].join %>
        </div>
      </div>

      <div class="form-input">
        <p class="text-form text-placeholder">Last Name *</p>
        <%= f.text_field :last_name, class: "form-control" %>
        <div class="error-message">
          <%= @user.errors[:last_name].join %>
        </div>
      </div>
    </div>

    <div class="form-input">
      <p class="text-form text-placeholder">Your Company</p>
      <%= f.text_field :company, class: "form-control" %>
    </div>

    <div class="form-input">
      <p class="text-form text-placeholder">Email Address</p>
      <%= f.email_field :email, class: "form-control" %>
      <div class="error-message">
        <%= @user.errors[:newsletter].join %>
      </div>
    </div>


    <div class="form-input">
      <p class="text-form text-bold">Would you like to become a free community member of TQ?</p>
      <p class="text-form text-italic">As a community member you will have access to our cafe and we will keep you updated on all things TQ!</p>

      <label class="form-option">
        <%= f.check_box :newsletter, class: "form-option-input" %>
        <p class="text-form text-color">&nbsp I would like to become a member.</p>
      </label>
    </div>

    <div class="row-buttons">
      <div class="btn-back">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <%= link_to "Oh wait.. I've done this before", search_users_path, class: "btn-back text-form" %>
      </div>
        <%= f.submit (@user.new_record? ? "CHECK IN" : "UPDATE"), class: "button" %>
    </div>

  <% end %>
