<div class="main">
  <div class="main-content-left">
    <div class="main-logo-large main-logo-white-bg">
      <%= svg 'tq-diamond.svg' %>
    </div>

    <div class="text-center">
      <h1>Your Information</h1>
      <p class="text-regular text-welcome"> <%= "#{@user.full_name}" %><br>
      <%= "#{@user.company}" %><br>
      <%= "#{@user.masked_email}" %><br>
      <br>
      Is that you? </p>

      <%= link_to "OOPS, IT'S NOT ME",search_users_path, class: "button button--inverted" %>
      <%= link_to "YES, CHECK ME IN!", user_pages_checkedin_path(@user), class: "button button--inverted" %>
    </div>
  </div>

  <div class="main-content-right image-panel image-welcome">
    <%= image_tag("http://res.cloudinary.com/dq7saz15g/image/upload/v1477645929/blocks_efs2bt.png") %>
    <!--01-home.jpg -->
  </div>
</div>
