<div class="row">
  <div class="col-sm-7 col-md-7 text-block-home">
    <div class="image-logo-medium logo-white-bg">
      <%= link_to "/admin", id: "adminlink" do %>
      <%= svg 'tq-diamond.svg' %>
    </div>
    <% end %>

    <br>

      <h2 class="page-title">Welcome to TQ!</h2>
      <br>
      <p class="text-regular">TQ is a curated tech space at the heart of Amsterdam founded by The Next Web. We help tech startups reach exponential growth, by providing them with the right talent, tools & training.</p>
      <br>
      <div class="buttons">
      <%= link_to "IT'S MY FIRST TIME", new_user_path, class: "btn" %>
      <%= link_to "I'VE BEEN HERE BEFORE", search_users_path, class: "btn" %>
      </div>
  </div>
  <div class="col-sm-5 col-md-5 image-home">
    <%= image_tag("01-home.jpg") %>
  </div>
</div>
