
<div class="container">
  <div class="row">
    <h2>Search for excisting user</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <%= form_tag pages_search_users_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Search", :search => nil %>
            </p>

        <% end %>

        <% if !@users.nil? %>
            <% @users.each do |user| %>
             <%= link_to(user.first_name, user_path(user.id), class: "btn btn-default") %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<div class="btn btn-default">
  <%= link_to "Oops, it's my first time!", new_user_path  %>
</div>