<div class="row">
  <div class="col-sm-9 col-md-8 text-block-form">
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-11 col-md-11 content-form">
      <div class="image-logo-large logo-blue-bg">
        <%= svg 'tq-diamond.svg' %>
      </div>
      <br>

      <h2 class="page-title page-title-blue">Find Yourself<h2>
      <p class="text-form">Please type in your first name, last name or email address.</p>

      <div id="custom-search-input">
        <form class="input-group col-md-12" action="<%= search_users_path %>">
          <input autocomplete="off" type="text" id="searchbox" name="search" class="search-query form-control">
          <span class="input-group-btn">
            <button class="btn" type="submit">
              <span class="search glyphicon glyphicon-search"></span>
            </button>
          </span>
        </form>
      </div>
      <br>

  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field" action="<%= search_artist_path %>">>
          <input id="search" type="text" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>


    <div class="search-results">
         <% if !@users.nil? %>
           <% @users.each do |user| %>
             <%= link_to user.full_name, user_path(user.id), class: "btn btn-glyphicon" %>
            <% end %>
          <% end %>
        </div>

        <br />
        <br />
        <div class="btn-back btn-back-search">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <%= link_to "Oops, it's my first time!", new_user_path, class: "btn-back text-form" %>
        </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 image-png image-form">
    <%= image_tag("http://res.cloudinary.com/dq7saz15g/image/upload/v1477645929/coffeeman-cropped_a0miks.png") %>
    <!--coffeeman-cropped.png -->
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#searchbox").keyup(function() {
      var searchString = $('#searchbox').val();

      if(searchString !== null && searchString !== undefined) {
        $.get( "search_users.json?search=" + searchString, function( data ) {
          $('.search-results').empty();
          for(var i=0; data.length > i; i++) {
            $('.search-results').append('<a class="btn btn-search-results" href="../users/' + data[i].id + '">' + data[i].first_name.toUpperCase() + " " + data[i].last_name.toUpperCase() + "</a>");
          }
        });
      }
    })
  })
</script>
