<!DOCTYPE html>
<html>
  <head>
    <title>Tqregistration</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>



    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
          <%= render 'shared/notice' %>
          <%= yield %>
  </body>
</html>
